/* colors 
header.title: #E43170;
.email: #2ABFF5;
*/

/* general */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
:root{
    --color-header:#E43170;
    --color-mail:#2ABFF5;
    --color-cards:black;
    --color-data:white;
}

body{
    font-size: 16px;
    font-family: 'Fredoka', sans-serif;
}
/* utility */

.wrapper{
    max-width: 1200px;
    margin:0 auto;
}
.clearfix::after{
    content:"";
    display: table;
    clear: both;
}
.push-left{
    float:left;
}
.align-center{
    text-align: center;
    padding: 25px;
}
/* .debug{
    border: 2px solid black;
    min-height: 100px;
} */
/* variables */

.title{
    color:var(--color-header);
    font-size: 23px;
}
.mail{
    color: var(--color-mail);
    padding: 5px;
}
.background-cards{
    background-color: var(--color-cards);
    box-shadow: 0 0 5px gray;
}

/* others */
/* p div.content{
    padding: 10px;
} */
.data{
    color: var(--color-data);
    padding: 5px;
}
.content{
    width: calc(100% / 3);
    padding:25px;
}
.img-sizing{
    max-width: 100px;
    object-fit: contain;
    /* object-position: */
}
.sector-name{
    display: inline-block;
}
/* .sector-name{

} */
